<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permission for recording audio and storage of audio in users device -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <uses-feature android:name="android.hardware.camera.ar" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Khalil"
        tools:replace="android:icon"
        tools:targetApi="34">
        <activity
            android:name=".DisplayServices"
            android:exported="false" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".SimilartyAyah"
            android:exported="false" />
        <activity
            android:name=".SimlartyPage"
            android:exported="false" />
        <activity
            android:name=".SimilatyKatlog"
            android:exported="false" />
        <activity
            android:name=".FinalSimilarty"
            android:exported="false" />
        <activity
            android:name=".ResultsActivity"
            android:exported="false" />
        <activity
            android:name=".Menue"
            android:exported="false" />
        <activity
            android:name=".AyahSimilarty"
            android:exported="false" />
        <activity
            android:name=".SurahSimilarty"
            android:exported="false" />
        <activity
            android:name=".Similaty"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".SimilartyTest"
            android:exported="false" />
        <activity
            android:name=".AR"
            android:exported="false" />
        <activity
            android:name=".AudioRecordingActivity"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Forget"
            android:exported="false" />
        <activity
            android:name=".Forget2"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".Try"
            android:exported="false" />
        <activity
            android:name=".ChoseSurahActivity"
            android:exported="false" />
        <activity
            android:name=".Recitation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>